.cell {
  --border-size: calc(2px * var(--size-scale));
  --size: calc(15px * var(--size-scale));

  width: var(--size);
  height: var(--size);
  box-sizing: border-box;
  padding: 0;
  line-height: calc(var(--size) - var(--border-size) * 2);
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
  user-select: none;
  background-color: var(--bg-color-primary);
  border-width: var(--border-size);
  border-style: solid;
  border-color: var(--bg-color-light) var(--bg-color-dark) var(--bg-color-dark)
    var(--bg-color-light);
  color: var(--text-color-primary);
}

.cell:active:hover:not(.flagged),
.cell.revealed {
  --border-size-revealed: 1px;

  border: var(--border-size-revealed) solid darkgrey;
  line-height: calc(var(--size) - var(--border-size-revealed) * 2);
}

.cell > img {
  display: block;
  margin: auto;
  height: 80%;
}

.one {
  color: var(--text-color-one);
}
.two {
  color: var(--text-color-two);
}
.three {
  color: var(--text-color-three);
}
.four {
  color: var(--text-color-four);
}
.five {
  color: var(--text-color-five);
}
.six {
  color: var(--text-color-six);
}
.seven {
  color: var(--text-color-seven);
}
.eight {
  color: var(--text-color-eight);
}
