@font-face {
  font-family: "SF Digital Readout Heavy";
  font-style: normal;
  font-weight: bold;
  src: url("../res/digital-readout.heavy.ttf") format("truetype");
}

.container {
  width: max-content;
  border: calc(4px * var(--size-scale)) solid var(--bg-color-light);
  padding: calc(6px * var(--size-scale));
  background-color: var(--bg-color-primary);
}

.slot,
.display,
.smileyButton {
  border-style: solid;
  border-top-color: var(--bg-color-dark);
  border-right-color: var(--bg-color-light);
  border-bottom-color: var(--bg-color-light);
  border-left-color: var(--bg-color-dark);
}

.slot.hud {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-width: calc(2px * var(--size-scale));
  margin-bottom: calc(6px * var(--size-scale));
  padding: calc(4px * var(--size-scale)) calc(5px * var(--size-scale));
}
.slot.board {
  border-width: calc(4px * var(--size-scale));
}

.display {
  position: relative;
  height: calc(23px * var(--size-scale));
  width: calc(39px * var(--size-scale));
  margin: 0;
  border-width: calc(1px * var(--size-scale));
  background-color: black;
  color: #f00;
  font-family: "SF Digital Readout Heavy", monospace;
  /* The font size needs to be much larger to compensate for leading. (?) */
  font-size: calc(35px * var(--size-scale));
  line-height: 0.61;
}
.display::before {
  /* The "ghost" lines mimicing the LED display. */
  content: "888";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  color: #800;
}
.display > span {
  /* So the "ghost" lines can sit between the background and the text. */
  position: relative;
  user-select: none;
}

.smileyButton {
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  height: calc(24px * var(--size-scale));
  width: calc(24px * var(--size-scale));
  box-sizing: border-box;
  padding: 0;
  border-width: calc(2px * var(--size-scale));
  border-top-color: var(--bg-color-light);
  border-right-color: var(--bg-color-dark);
  border-bottom-color: var(--bg-color-dark);
  border-left-color: var(--bg-color-light);
  background-color: var(--bg-color-primary);

  outline: calc(1px * var(--size-scale)) solid var(--bg-color-dark);
}
.smileyButton:active {
  border-width: calc(1px * var(--size-scale));
  border-top-color: var(--bg-color-dark);
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: var(--bg-color-dark);

  /* Budge the image to make it look like the button is depressed. */
  padding-top: calc(1px * var(--size-scale));
  padding-left: calc(1px * var(--size-scale));
}

.smileyImage {
  --size: calc(17px * var(--size-scale));

  height: var(--size);
  width: var(--size);
  background-image: url("../res/smilies.png");
  background-size: calc(100% * var(--size-scale));
  background-position: 0 0;
  image-rendering: pixelated;
}
.smileyImage.scared {
  background-position: var(--size) 0;
}
.smileyImage.cool {
  background-position: 0 var(--size);
}
.smileyImage.dead {
  background-position: var(--size) var(--size);
}
